## Time

In [1]:
import datetime

In [2]:
t = datetime.time(hour=4, minute=10, second=30)
print(t)
print('hour  :', t.hour)
print('minute:', t.minute)
print('second:', t.second)
print('microsecond:', t.microsecond)
print('tzinfo:', t.tzinfo)

04:10:30
hour  : 4
minute: 10
second: 30
microsecond: 0
tzinfo: None

To get the min and max values of a time, the attributes min and max can be used

In [3]:
print('Earliest  :', datetime.time.min)
print('Latest    :', datetime.time.max)

Earliest  : 00:00:00
Latest    : 23:59:59.999999

## Dates
To create a date, the module `datetime.date` is used:

In [4]:
today = datetime.date.today()
print(today)
print('ctime:', today.ctime())
print('tuple:', today.timetuple())
print('ordinal:', today.toordinal())
print('Year :', today.year)
print('Month:', today.month)
print('Day  :', today.day)

2024-02-23
ctime: Fri Feb 23 00:00:00 2024
tuple: time.struct_time(tm_year=2024, tm_mon=2, tm_mday=23, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=4, tm_yday=54, tm_isdst=-1)
ordinal: 738939
Year : 2024
Month: 2
Day  : 23

Also, the min and max values can be accessed like

In [5]:
print('Earliest  :', datetime.date.min)
print('Latest    :', datetime.date.max)

Earliest  : 0001-01-01
Latest    : 9999-12-31

Another way to create a new instance of a date is using the `.replace()` method of an existing date

In [6]:
d1 = datetime.date(2015, 3, 11)
print('d1:', d1)

d2 = d1.replace(year=1990)
print('d2:', d2)

d1: 2015-03-11
d2: 1990-03-11

## Dates arithmetic

In [7]:
d1

datetime.date(2015, 3, 11)

In [8]:
d2

datetime.date(1990, 3, 11)

In [11]:
delta = d1 - d2
delta

datetime.timedelta(days=9131)